body {
    font-family: 'Lobster', cursive;
    margin: 0%;
}

.banner {
    background-image: url(images/donation12.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: .80;
}

.header {
    color: white;
    font-size: 30px;
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 150px;
}

#set-button {
    background-color: red;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
}

.Donate {
    width: 50%;
    margin: auto;
    text-align: center;
}

section {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    text-align: center;
}

.amount {
    padding: 20px;
    box-shadow: 20px 20px 100px gray;
}

#color {
    color: red;
    box-shadow: 20px 20px 100px rgb(247, 8, 8);
}

.input-taka {
    width: 50%;
    margin: auto;
    text-align: center;
}

.input-taka {
    border-bottom: 2px solid black;
    margin-top: 20px;
}

.Donate-plane {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.Donate-plane1 {
    display: flex;
    margin-bottom: 200px;
}

.Food-family {
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 5px;
    box-shadow: 20px 20px 30px grey;
    padding: 10px;
    padding-top: 50px;
}

.half-width {
    width: 50%;
}

#color-set1 {
    background-color: antiquewhite;
}

#color-set2 {
    background-color: aquamarine;
}

#color-set3 {
    background-color: azure;
}

#button {
    border: 2px solid red;
    background-color: red;
    text-decoration: none;
}

#height-width {
    height: 500px;
    width: 500px;
}

.box {
    border: 1px solid antiquewhite;
    width: 50%;
    margin-left: 350px;
    padding: 30px;
    background-color: antiquewhite;
}

.update {
    width: 50%;
    margin: auto;
    text-align: center;
}

.foot-add {
    background-color: black;
    color: white;
    padding-left: 700px;
}

#button-add {
    border: 2px solid red;
    background-color: red;
    text-decoration: none;
    margin-left: 700px;
}